<div class="header">
    <div class="position-relative">
        <img src="assets/main.jpg" alt="" width="100%">
        <div class="container">
            <div class="row">
                <img src="assets/logo.png" class="logo" width="300px">
            </div>
        </div>
    </div>
</div>

<div class="content overflow-hidden">
    <section class="mt-5">
        <div class="container">
            <h1 class="heading bg-green">الرؤية</h1>
            <div class="row" dir="rtl">
                <div class="col-md-8">
                    <p class="mx-5 text-justify">
                        تقديم منتجات غذائية طبيعية متنوعة من أيدي أمهر المزارعين المتخصصين بقيادة أفضل الكفاءات الوطنية
                        الإماراتية في المجالي الزراعي.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-md-10" dir="rtl">
                    <h1 class="heading bg-red">الرسالة</h1>
                    <p class="mx-5 text-justify">
                        تحقيق تنمية تنافسية فى القطاع الزراعى و تهيئة بيئة مشجعة لممارسة جميع الأعمال الزراعية، و دعم
                        الإقتصاد الوطنى عن طريق القطاع الزراعى من خلال رفع معدل انتاج للمنتجات الزراعية الإماراتية، و
                        تنيمة السياحة الزراعية من خلال دعمها بأفضل المنتجات المحلية.
                        و نعمل على تشجيع الإستثمار فى القطاع الزراعى و دعم إستخدام التكنولوجيا الحديثة فى حصر و جرد جميع
                        المنتجات و متطلبات القطاع الزراعي، علاوة على دعم قطاع القوى العاملة من خلال تشغيل عدد كبير من
                        المحليين و الأجانب.
                    </p>
                </div>
                <div class="col-md-2">
                    <img src="assets/cart 2.png" alt="" width="250px" class="cart2">
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5 position-relative">
        <div class="container">
            <h1 class="heading bg-black">الأهداف</h1>
            <div class="row" dir="rtl">
                <div class="col-md-8">
                    <p class="mx-5 mb-0 text-justify">
                        - ان نقدم منتجات زراعية طبيعية عالية الجودة.
                    <p class="mx-5 mb-0 text-justify">
                        - ان نحقق إكتفاء ذاتى لدولة الإمارات من المنتجات الزراعية المحلية .
                    </p>
                    <p class="mx-5 mb-0 text-justify">
                        - ان نوفر إحتياجات السوق المحلى والوطني من المنتجات الزاعية و تقديمها للمستهلك بأعلى جودة.
                    </p>
                    <p class="mx-5 mb-0 text-justify">
                        - ان يكون هناك دعم للقطاع السياحى من خلال توفير المنتجات الزراعية الطبيعية .
                    </p>
                    <p class="mx-5 mb-0 text-justify">
                        - نحاكي السوق العالمى فى المجال الزراعى سعياً وراء الوصول لقمة المنافسة العالمية.
                    </p>
                    <p class="mx-5 mb-0 text-justify">
                        - ان نوفر الجهد والوقت للمستهلك حيث يستطيع ان يطلب هذه المنتجات الزراعية الطازجة عن طريق
                        التطبيقات او الموقع الالكتروني .
                    </p>
                    <p class="mx-5 mb-0 text-justify">
                        - ان نوفر عدد كبير من الزبائن للمزارعين حيث يستطيعون بيع محاصيلهم الزراعية بوقت اقل وإنتاج
                        المزيد من هذه المحاصيل بشكل دائم .
                    </p>
                    <p class="mx-5 mb-0 text-justify">
                        - ان يكون هناك فرصة كبيرة للجميع بان يستخدمون المنتجات الزراعية الطازجة بشكل يومي من خلال سهولة
                        الطلب والتواصل مع الموردين .
                    </p>

                </div>
                <div class="col-md-4">
                    <img src="assets/cart 1.png" alt="" width="350px" class="cart1">
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5">
        <div class="container">
            <div class="row justify-content-center align-items-center no-gutters">
                <div class="col-md-10">
                    <div class="row ustify-content-center align-items-center no-gutters">
                        <div class="col-md-6">
                            <div class="soon">
                                <h1 class="text-center">قريباً</h1>
                                <div class="small-text">
                                    <p class="m-0 text-center">من مزارع الإمارات لحد بيتك</p>
                                    <p class="m-0 text-center">منتجاتنا طبيعية سوف تكون متاحة على تطبيقات</p>
                                </div>
                                <div class="text-center mt-5">
                                    <img src="assets/app-store.png" class="app-img" alt="">
                                    <img src="assets/google-play.png" class="app-img" alt="">
                                </div>
                            </div>
                            <div class="app my-3">

                            </div>
                            <div class="social">
                                <h3 class="text-center">تابعنا</h3>
                                <div class="social-list">
                                    <a href="https://www.facebook.com/Crowd-Market-103980351271988/?modal=admin_todo_tour" target="_blank"> <i class="fa fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/crowd_market/" target="_blank"> <i class="fa fa-instagram"></i></a>
                                    <!--<a href="" target="_blank"> <i class="fa fa-youtube"></i></a>-->
                                    <a href="https://twitter.com/CrowdMarket1" target="_blank"> <i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/company/42957856/admin/" target="_blank"> <i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="assets/mobile 01.png" width="100%">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="footer my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="m-0 text-center">الموقع والتطبيق تم تصميمه وتطويره من خلال شركة كراود ديجيتال بورتال</p>
                <img src="assets/crowd.png" alt="" width="200px">
                <p class="m-0 text-center">وتحت رعايتها التسويقية</p>
            </div>
        </div>
    </div>
</div>
