@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@font-face {
  font-family: 'Cairo';
  src: url('assets/Cairo-Regular.ttf');
}

@font-face {
  font-family: 'CairoBold';
  src: url('assets/Cairo-SemiBold.ttf');
}
